* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url("Photos/Bombs.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

h1 {
    padding-top: 10px;
    color: red;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: xxx-large;
    text-shadow: #FC0 1px 0 10px;
}

.copyright {
    color: antiquewhite;
    font-size: x-large;
}

button {
    cursor: pointer;
    padding: 7px;
    border-radius: 50vw;
}

.timer {
    font-size: 1.4rem;
    font-family: 'Trebuchet MS';
}

.cell {
    border: 2px outset rgb(164, 125, 125);
    gap: 0%;
    background-color: rgb(104, 113, 104);
    background-size: 100%;
    font-weight: 900;
}

.opened {
    background-color: rgb(134, 140, 144);
}

.restart-btn {
    font-size: 1.7rem;
    width: 65px;
    margin: 0 auto;
    transition: 0.5s;
}

table {
    margin: auto;
    margin-top: 20px
}

.board td {
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    transition: 0.25s;
}

.board td:hover {
    background-color: rgb(86, 150, 166);
}


.panel-container {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.levels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b1 {
    font-weight: 900;
    background-color: rgb(186, 134, 113);
}

.b2 {
    font-weight: 900;
}

.b3 {
    font-weight: 900;
}

.lives {
    font-size: 1.7rem;
}